footer {
  margin-bottom: 0;
  padding-bottom: 40px;
  margin-top: 48px;
}
.screen--sm footer {
  margin-top: 84px;
  padding-bottom: 48px;
}
.screen--xs footer {
  margin-top: 50px;
  padding-bottom: 50px;
}
