.ui-token-icon {
  aspect-ratio: 1/1;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--q-light);
  background: var(--q-light);

  img {
    border-radius: 50%;
    flex-shrink: 0;
  }
}
