.card-collapse {
  background: $card-bg;
  border-radius: $border-radius;
  border: $card-border;
  padding: 0 12px 0 12px;
}

.toggleable-content-enter-from,
.toggleable-content-leave-to {
  max-height: 0;
}
.toggleable-content-enter-to,
.toggleable-content-leave-from {
  max-height: 1000px;
}
.toggleable-content-leave-active {
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
.toggleable-content-enter-active {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
